{% for course in courses %}
  <tr>
    <td>{{ course.id }}</td>
    <td>{{ course.name }}</td>
    <td>{{ course.owner }}</td>
    <td style="width: 150px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-course"
              data-url="{% url 'course_update' course.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-course"
              data-url="{% url 'course_delete' course.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No course</td>
  </tr>
{% endfor %}